<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex flex-column ">
                <div class="row">
                <h3 class="font-weight-bold">Countries</h3>
              </div>
              <div class="row">
                <div class="input-group mb-2">
                  <input type="text"  [(ngModel)]="search" (ngModelChange)="search1($event)" class="form-control" placeholder="Search countries" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                                      <span class="input-group-text" id="basic-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                      </svg></span>
                  </div>
                </div>
              </div>
        <div class="box row my-2 " *ngFor="let country of country1">
          <div class="col-xl-4 py-2 ">
            <img class="img-fluid border border-dark " src={{country.flag}} alt="">
          </div>
          <div class="col-xl-8 mx-auto my-auto">
            <div class="row font-weight-bold"><div class="col-xl-8"><h5>Name : {{country.name}}</h5></div></div>
            <div class="row "><div class="col-xl-8"><h6>Currency : {{country.currencies[0].name}}</h6></div></div>
            <div class="row "><div class="col-xl-12"><h6>Capital : {{country.capital}}</h6></div></div>
            <div class="row">
              <div class="col-xl-12 d-flex ">
                <button type="button" class="row1 col-xl-6 btn btn-outline-primary mr-2"><a href="https://www.google.com/maps/place/Afghanistan/@32.2120218,63.2643492,4.7z/data=!4m5!3m4!1s0x38d16eb6f8ff026d:0xf3b5460dbe96da78!8m2!3d33.93911!4d67.709953" target="_blank">Show Map</a></button>
                <button type="button" class="row1 col-xl-6 btn btn-outline-primary "><nav><a [routerLink]="['/details',country.alpha3Code]" >Details</a></nav></button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

