.box{
  border: 2px solid rgb(240,240,240);
}

.btn:hover{
  background-color: white !important;
}

.form-control{
  border-right: 0 !important;
}

.input-group-text {
  background-color: transparent !important;

}

.btn{
  color: #0c22cb !important;
  border-color: #0c22cb !important;
  border-radius: 0 !important;
}

/* https://anant-agarwal1298.gitlab.io/assignment2/ */

.row1{
  border: 2px solid blue   !important;
  color: blue !important;
  background: none;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
