<div class="container container-fluid ">
  <div class="row mx-2 my-2 ">
    <div class="col-xl-12">
      <div class="d-flex flex-column">
        <div class="row ml-2">
          <div class="col-xl-12"><h3 class=" font-weight-bold">{{countryDetail.name}}</h3></div>
        </div>

        <div class="row mx-2 my-2 ">
          <div class="col-xl-6 col-sm-12 col-md-12 col-lg-12 py-2 ">
            <img class="img-fluid border border-dark" src={{countryDetail.flag}} alt="">
          </div>
          <div class="col-xl-4 py-2">
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Native Name: भारत</h6></div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Capital : {{countryDetail.capital}}</h6></div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Population: {{countryDetail.population}}</h6></div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Region: {{countryDetail.region}}</h6></div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Sub-region: {{countryDetail.subregion}}</h6></div>
            </div>
            <div class="row mb-2 ">
              <div class="col-xl-12"><h6>Area: {{countryDetail.area}} Km<span class="align-text-bottom">2</span></h6>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Country Code: {{countryDetail.callingCodes}}</h6></div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Languages: {{countryDetail.languages[0].name}}</h6></div>
            </div>
            <div class="row mb-2">
              <div class="col-xl-12"><h6>Currencies: {{countryDetail.currencies.name}}</h6></div>
            </div>
            <div class="row">
              <div class="col-xl-12"><h6>Timezones: {{countryDetail.timezones}}</h6></div>
            </div>
          </div>
        </div>
        <div class="row border border-dark my-2">
          <div class="col-sm-12">
            <h5 class="font-weight-bold  mb-5 pt-3">Neighbour Countries</h5>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xl-4" *ngFor="let flag of countryDetail.borders">
              <img class=" img-fluid" src="https://restcountries.eu/data/{{flag.toLowerCase()}}.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




